reports/
node_modules/
.idea/
yarn-error.log
*.iml
package-lock.json
.DS_Store
/chrome
/chromedriver
/.yarn/

# Cucumber
cucumberTaggedFiles.json

# Protractor
protractorFailuresReport/

# If you run the tests locally, you might have this
e2e/testCounter.json