reports/
node_modules/
.idea/
yarn-error.log
*.iml
package-lock.json
.DS_Store
.yarn/cache
/chrome
/chromedriver
/undefined
log.txt
undefined/a11y_output.js
e2e/testCounter.json
cucumberTaggedFiles.json
.vscode/
